/* css */
.orderscomponent{
    overflow: hidden!important;
    /* background-color: #0000000F; */
}
.container{
    text-align: left;
    width: 100% !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow: hidden;
    overflow-y: hidden!important;
    margin-top: 0px!important;
}

.container-table{
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    margin:0% 0%;
    margin-bottom: 2rem;
}
.table-head .table-body{
    display: flex;
    align-items: center;
    
}
.table-body{
    max-height: 'calc(100vh - 210px)';
    overflow-y: 'auto'
}

.table td, .table th{
    vertical-align: middle!important;
    padding: 4px !important;

    
}
.table td{
    border-top:none
}
.Quantity{
    /* top: 260px;
    left: 468px;
    */
    width: 20%;
    height: 12%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #5861AE;
    border-radius: 2px;
    padding: 0px!important;
} 
.productname{
    
    display:flex;
    align-items: center;
    margin:2px 0px; 
    
}
.productdetails p{
    padding-left:5px; 
    margin-bottom:0 !important;
    vertical-align: initial!important;

} 

.imagescolumn{
    display:flex;
    
}  
.img{
    
    width:7vw;
    height:4vh
    
}
   

.buttons{
    /* width:20%; */
    margin-bottom:5%;
    margin-top: 0%;
    float: right;
    

}
.button{
    margin:0px 3px;
    
}
.proceed{
    font-size: 1vw !important;
    width: 7vw !important;
}
.cancel{
    font-size: 1vw !important;
    width: 7vw !important;
}
.reset{
    font-size: 1vw !important;
    width: 6vw !important;
}

th{
    align-items: center;
}
.sidebar {
    
    padding: 0;
    width: 3.5vw;
    background-color: #5861AE;
    position: fixed;
    height: 100%;
    overflow: hidden;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 1vw;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color:white;
    color:#5861AE
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
.sidebaricons{
    width:1.5vw;

}

.show{
    text-align: center;
    /* display:block; */
    /* top: 257px;
    left: 1305px; */
    width: 81px;
    height: 32px;
    border: 1px solid #5861AE;
    border-radius: 4px;
    opacity: 1;
}
.hide{
    display:none !important;

}
.hidebuttons{
    display:none !important;
    margin-bottom: 8%;
}
.changetoblue{
    background: #5861AE;
}
.fixed-bottom{
    padding: 0;
    width:100%;
    height:45px;
    background-color:black;
    position: fixed;
    /* text-align: center !important; */
    color: #FFFFFF;
    overflow:hidden;
}

.fixed-bottom{
    margin-top: 5px;
}
.display{
    padding: 0 !important;
    display: initial;
}
.search{
    float: right;
} 
.searchicon{
    background-color: #FFFFFF;
    border:none;
    border-bottom: 1px solid;
}
.inputsearch{
    background-color: #FFFFFF;
    border:none;
    width: 80% !important;
    border-bottom: 1px solid;
}




 @media (min-width: 1200px){
    .container {
        max-width: 93%;
        margin-left: 5vw!important;
    } 

}
@media (max-width: 750px){
.container {
    max-width: 93%;
    margin-left: 5vw!important;
} 
@media(max-width:600px) {
    .container{
        max-width: 93%;
        margin-left: 5vw;
    }
}
}

.create-order-btn {
  background-color: white;
  border-width: 2px;
  border-color: #5861ae;
  color: #5861ae;
  min-width: 80px;
  width: 10vw;
  border-radius: 10%;
}
.create-order-btn-div {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-center {
  position: relative;
  left: 40vw;
}
.success-icon {
  width: 30%;
  height: 30%;
}
.success-message {
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  font-weight: bold;
  margin: 5%;
}
.success-message-two {
  display: flex;
  flex-direction: column;
  margin: 5%;
  font-size: larger;
}
.success-modal-button {
  background-color: #5861ae;
  color: white;
  border: none;
  height: 5vh;
  width: 50%;
  border-radius: 20px 20px 20px 20px;
  margin: 5%;
}
    background-color: white;
    border-width: 2px;
    border-color: #5861ae;
    color: #5861ae;
    min-width: 80px;
    width: 10vw;
    border-radius: 10%;
  }
  .create-order-btn-div {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .changeColor{
      color: transparent;
  }
  .headings{
      font-size: 90%!important;
      
  }
