/* css */

.right_modal {
  position: fixed !important;
  right: 0rem !important;
  top: 0rem !important;
  border: none;
  border-color: transparent;
}
.right_modal .modal-dialog {
  position: fixed;
  width: 50vw;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.modal-dialog {
  /* max-width: 100%; */
  margin: 0;
}
@media (min-width: 576px) {
  .right_modal .modal-dialog {
    max-width: 50vw !important;
  }
}
.right_modal .modal-content {
  /*overflow-y: auto;
        overflow-x: hidden;*/
  height: 100vh !important;
}
.right_modal .modal-body {
  padding: 0;
}
.close-button {
  position: fixed;
  right: 1rem;
  top: 1rem;
}
.close-button-inline {
  border: none;
  background-color: transparent;
  color: white;
}
.model-header {
  background-color: #5861ae;
  color: white;
}
.form-select-style {
  border: none;
  border-color: transparent;
  border-bottom: turquoise;
  background: #f4f9ff;
}
.store-details {
  background: #f4f9ff 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 3%;
}
.store-details-element {
  display: flex;
  flex-direction: column;
}
.style-bold {
  font-weight: bold;
}
.order-details {
  padding: 20px;
}
.order-details-heading {
  margin: 10px;
}
.move-right {
  display: flex;
  justify-content: right;
}
.text-color {
  color: #5861ae;
}
.total-cost-row {
  background-color: #5861ae;
  color: white;
  font-weight: bolder;
  font-size: larger;
}
.address-choice-div {
  padding: 20px;
}
.custom-card {
  margin-top: 10px;
  margin-right: 20px;
  font-size: small;
}
.address-choice {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-title {
  display: flex;
  flex-direction: row;
}
.tick-icon {
  position: absolute;
  right: 1rem;
}
.custom-btn-confirm {
  background: #5861ae;
  border-radius: 4px;
  opacity: 1;
  width: 150px;
  height: 42px;
  color: #ffffff;
}
.custom-btn-cancel {
  background: #f41313;
  border-radius: 4px;
  opacity: 1;
  width: 150px;
  height: 42px;
  color: #ffffff;
}
.pro-bar {
  width: 15%;
  max-height: 4px;
  margin-top: 10px;
}
.order-status {
  display: flex;
  flex-direction: row;
  padding: 5%;
  width: 100%;
}
.custom-row-container-first {
  display: flex;
  flex-direction: row;
}
.custom-row-container {
  display: flex;
  flex-direction: row;
}
.custom-row {
  display: flex;
  flex-direction: row;
  font-size: small;
}
.custom-column {
  display: flex;
  flex-direction: column;
}
.dot {
  height: 16px;
  width: 16px;
  border: 1px solid #707070;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
}
