/* css */
.login-container {
  margin: 2vw;
}
.signin-form {
  width: 100%;
}
.input-full-width {
  width: 100%;
}
.input-div-margin {
  margin-top: 10vh;
}
.sigin-btn-div {
  margin-top: 10%;
}
.landing-page-container {
  overflow-x: hidden;
  overflow-y: scroll;
}
.hr-promo {
  height: 3px;
  color: #5861ae;
  background-color: #5861ae;
  border: none;
  width: 100vw;
}
