/* css */
.login-container {
  margin: 5vw;
}
.signin-form {
  width: 100%;
}
.input-full-width {
  width: 100%;
}
.input-div-margin {
  margin-top: 10vh;
}
.sigin-btn-div {
  margin-top: 10%;
}
.input-icon{
        float: right !important ;
        position: absolute;
        display: flex;
        justify-content:right;
        color: grey;
        width:90%;
}